footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    margin: 75px;
    padding: 50px;

    .contact {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            justify-content: flex-start;
            gap: 50px;
            
            h4 {
                color: $black;
                font-family: "Merriweather-Light", sans-serif;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 0.9rem;
                padding: 10px;
            }

            p {
                font-family: "Inter";
                letter-spacing: 0.5px;
                padding: 10px;
                color: $color1;
                font-size: 0.9rem;
            }
        }
    }
}