nav {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 0px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.212);
    font-family: "Inter", sans-serif;
    letter-spacing: 1.5px;

    ul {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: start;
        align-items: center;
        list-style: none;
        text-align: center;
        justify-items: start;
        font-size: 0.9rem;
    }

    ul {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
    }

    li {
        color: rgb(253, 242, 242);
    }

    li:hover {
        color: black;
        background: white;
    }
}