section{
    background: $white;
    margin-top: 0;
    margin-bottom: 75px;
    margin-right: 75px;
    margin-left: 75px;
    padding: 50px;

    div {
        @include centerChild;
        flex-direction : column;

        .date {
            font-family: "Inter";
            letter-spacing: 1px;
            color: blue;
        }

        h2 {
            font-size: 3rem;
            font-family: "Merriweather", sans-serif;
            letter-spacing: 1px;
        }

        p {
            font-family: "Inter";
            letter-spacing: 1px;
        }

        .img-large {
            background: url(../images-section/pic01.jpg) no-repeat center/cover;
            background-position: 1;
            height: 300px;
            width: 200px;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            .img-small {
                height: 250px;
                width: 250px;
            }
        }
    }
}