.form {
    div {
        label {
            color: $black;
            font-family: "Merriweather-Light", sans-serif;
            text-transform: uppercase;
            display: flex;
        }
    }
}