// Variables

$color1: rgb(138, 132, 132);
$black: rgb(24, 24, 24);
$white: rgb(255, 255, 255);

// Mixins

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    background: url(../images/bg.jpg) fixed center/cover;
    height: 100vh;
    text-align: center;
    margin: 10%;
}