body {
  background: url(../images/bg.jpg) fixed center/cover;
  height: 100vh;
  text-align: center;
  margin: 10%;
}

button, .button {
  border: 2px solid rgb(24, 24, 24);
  padding: 10px 20px;
  color: rgb(24, 24, 24);
  font-weight: 750;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  margin: 15px;
  background: none;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.form form label {
  color: rgb(24, 24, 24);
  font-family: "Merriweather-Light", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}
.form form input, .form form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(138, 132, 132);
  font-family: "Inter", sans-serif;
  resize: none;
}
.form form #name, .form form #email {
  border-radius: 2px;
  border: 0.5px solid rgb(138, 132, 132);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 0;
}
header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  padding: 5px;
  font-family: "Merriweather-Light", sans-serif;
}
header p {
  font-size: 1.2rem;
  padding: 5px;
  font-family: "Inter";
}
header .arrow {
  border: solid 1px white;
  border-radius: 50%;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgb(187, 187, 187);
  background: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .arrow:hover {
  background: rgba(255, 255, 255, 0.377);
  color: rgb(24, 24, 24);
}

nav {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 0px;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.212);
  font-family: "Inter", sans-serif;
  letter-spacing: 1.5px;
}
nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
  justify-items: start;
  font-size: 0.9rem;
}
nav ul {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}
nav li {
  color: rgb(253, 242, 242);
}
nav li:hover {
  color: black;
  background: white;
}

section {
  background: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 75px;
  margin-right: 75px;
  margin-left: 75px;
  padding: 50px 50px 0 50px;
}
section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 75px 75px 75px;
}
section div .date {
  font-family: "Inter";
  letter-spacing: 1px;
  color: rgb(24, 24, 24);
}
section div h2 {
  font-size: 3rem;
  font-family: "Merriweather", sans-serif;
  letter-spacing: 1px;
}
section div p {
  font-family: "Inter";
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  padding: 0px 75px;
}
section div .img-large {
  background: url(../images-section/pic01.jpg) no-repeat center/cover;
  background-position: 1;
  height: 300px;
  width: 200px;
}
section .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 50px 25px 50px;
}
section .flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  margin: 20px;
}
section .flex div .img-small {
  height: 250px;
  width: 250px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
  margin: 75px;
  padding: 50px;
}
footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .contact div, footer .contact .adress, footer .contact .phone, footer .contact .mail, footer .contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  gap: 10px;
}
footer .contact div h4, footer .contact .adress h4, footer .contact .phone h4, footer .contact .mail h4, footer .contact .social h4 {
  color: rgb(24, 24, 24);
  font-family: "Merriweather-Light", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 10px;
}
footer .contact div p, footer .contact .adress p, footer .contact .phone p, footer .contact .mail p, footer .contact .social p {
  font-family: "Inter";
  letter-spacing: 0.5px;
  padding: 10px;
  color: rgb(138, 132, 132);
  font-size: 0.9rem;
}/*# sourceMappingURL=index.css.map */